<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a class="thumbnail myPic Jump">
        <img src="style/image/thumbnail3.jpg" class="img-thumbnail" alt="pic">
    </a>
</div>